# SETTINGS OF THE GOOGLE CLOUD STUFF
GAE_PROJECT_ID=<YOUR_GAE_PROJECT_ID>
SESSION_REDIS_SERVER=<YOUR_REDIS_SERVER>
SESSION_REDIS_PASSWD=<YOUR_REDIS_PASSWORD>
DATAFLOW_STAGE_LOCATION=gs://<YOUR_CLOUD_STORAGE_BUCKET_NAME>/staging
# END 

CACHE_REDIS_SERVER=$SESSION_REDIS_SERVER
CACHE_REDIS_PASSWD=$SESSION_REDIS_PASSWD

DEBUG=False

# PUBSUB TOPICS
EVENT_PUBSUB_TOPIC=event

# DATASTORE
DATASTORE_NAMESPACE=bigio
DATASTORE_TABLE_PREFIX=model
DATASTORE_PROJECTS_TABLE=Projects
DATASTORE_PROJECTKEYS_TABLE=ProjectKeys

# DATAFLOW
DATAFLOW_NUM_WORKERS=1
DATAFLOW_MAX_NUM_WORKERS=1

# PUBSUB SUBSCRIPTIONS FOR DATAFLOW
EVENT_PUBSUB_SUBSCRIPTION=sub-event

SESSION_CONFS=standard:1800,lab:120
SESSION_CONF_DEFAULT=standard
